---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contacts from "../components/Contacts.astro";
import Footer from "../components/Footer.astro";
import MyFoto from "../images/my-foto.jpg";
import Styles from "../styles/style.module.sass";
---

<Layout title="Добро пожаловать!">
  <Header />
  <main class={Styles.container} id="home">
      <h1 class={Styles.header}>
        Привет, Я Ольга, <br />
        <span>Frontend-разработчик</span>
      </h1>
    <About />
    <Projects />
    <Contacts />
  </main>
  <Footer />
</Layout>
