---
import Styles from "../styles/style.module.sass";
---

<div id="contacts">
  <div class={Styles.title}>
    <h2>Контакты</h2><span class={Styles.line}></span>
  </div>
  <div class={Styles.contacts}>
    <p>Email: <span>U-a.Olga@yandex.ru</span></p>
    <p>
      Ссылка на Github: <span
        ><a href="https://github.com/Olga-Udaltsova" target="_blank"
          >https://github.com/Olga-Udaltsova</a
        ></span
      >
    </p>
    <p></p>
  </div>
</div>
